{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{%load static %}
{% block body %}
<center>
     <div style="width:500px; text-align: left; " ><h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >contact</h1></div><br>
    <div style="width:500px; text-align: left; ">
    <form action="contact_save" method="post">
     {% csrf_token %}
        <div class="mb-3">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="cname" aria-describedby="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="cemail" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="Phone" class="form-label">Phone Number</label>
          <input type="phone" name="phone" class="form-control" id="cphone">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">How May We Help You :</label>
          <textarea class="form-control" name="content" id="ccontent" cols="30" rows="5"></textarea>
        </div>
       <input type="submit" class="btn btn-primary">
      </form>
    </div>
  </center>

{% endblock body %} 

