{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{%load static %}
{% block body %}
<img src="{% static 'h3.jpg' %}" style="width: 100% ;" alt="">
<img src="{% static 'h4.jpg' %}" style="width: 100% ;" alt="">
<img src="{% static 'h2.jpg' %}" style="width: 100% ;" alt="">
<img src="{% static 'h6.jpg' %}" style="width: 100% ;" alt="">
<img src="{% static 'h1.jpg' %}" style="width: 100% ;" alt="">
<img src="{% static 'h5.jpg' %}" style="width: 100% ;" alt="">
<div style="background-color: blanchedalmond;">
<div data-test="wrapper-for-subscription" class="sc-bdvvtL goIptw"></div></div></div><div data-test="wrapper-for-trial" class="sc-bdvvtL goIptw"></div>
</div>

{% endblock body %}